@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: #F1A177;
    --darkblue: #003A75;
    --offwhite: #FCFCFC;
    --title: "Big Shoulders Inline Text";
    --subtitle: "Big Shoulders Display";
    --broed: "montserrat";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 6rem;
    font-family: var(--title);
}
  body{
    background-color: var(--offwhite);

}

/* Navigation */
header {
  background-color: rgba(255, 255, 255, 40%);
  
    box-shadow: 0px 10px 22px 0px rgba(255,255,255,0.52);
    width: 100%;
    position: absolute;
    
}
header nav {
    display: flex;
    justify-content: space-between;

}

.logo-img {
    height: 100px;
    margin: 1rem;
    margin-left: 40px;
}
.nav-icon {
    height: 40px;
    margin-right: 2rem;
   
}
.profileBasketIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-points{
    width: 70%;
    display:flex;
  
    justify-content: space-around;
    align-items: center;
}
.nav-points li{
    list-style-type: none;
    font-size: 1.6rem;
    font-family: var(--subtitle);
    
}
.nav-points li a{
    text-decoration: none;
    color: var(--darkblue);
}
/* style af forside */
.forside-billede{
    width: 100vw;
   

}
.overlay-text{
    position: absolute;
        top: 90%;
        left: 35%;
        /* transform: translate(-50%, -30vh); */
        margin-left: -25%;
        margin-top: -30%;
        font-size: 24px;
        text-align: left;
        padding: 20px;
        cursor: pointer;
}

.forside-overskrift{
    text-align: center;
    font-family: var(--title);
    color: var(--darkblue);
    font-size: 180px;
    font-weight: 400;
}
.forside-underoverskrift{
    text-align: center;
    font-family: var(--subtitle);
    color: var(--darkblue);
    font-size: 30px;
    font-weight: 500;
    margin-top: -10px;
}

.bølger{
    width: 320px; 
    margin-left: 82%;
    transform: rotate(230deg);
    margin-top: -3%;
  
}
.om-os-container{
    overflow: hidden;
     width: 100%;
    
}
.om-os-tekst{
    text-align: center;
   color: var(--orange);
   font-family: var(--subtitle);
   font-weight: 500;
   margin-top: -70px;
   font-size: 60px; 
}

.tekst-forside{
    margin-top: 5%;
    color: var(--darkblue);
    font-family: var(--broed);
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    text-align: center;
}





/* style af vores måltidskasser siden */
.menu-section{
    max-width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    justify-items: center;
 
}

.body-måltidskasse{
    background-image: url(/media/bølger3.png);
    background-repeat: no-repeat;
    background-position-x: 110%;
    background-position-y:7.5%;
    background-size: 25%;
}

.menu-block{
width: 400px;
display: flex;
flex-direction: column;
color: var(--darkblue);
border: 5px solid;
border-radius: 35px;
overflow: hidden;
}

.menu-navn{
margin: 1rem;
font-family: "big shoulders display";
}
.menu-tekst{
margin-left: 1rem;
margin-bottom: 0.5rem;
font-family: var(--broed);
}


.clock{
height: 1.3rem;
margin-left: 1rem;
}

.menu-tid{
margin-left: 0.5rem;
width: 50%;
font-family: var(--broed);
}
.tid-container{
    display: flex;
}
.måltidskasse-btn{
width: 25%;
margin: auto;
margin-bottom: 10px;
padding: 8px;
border: 4px solid;
border-radius: 15px;
background-color: var(--darkblue);
color: var(--offwhite);
font-family: var(--broed);
}

/* måltidskasse modal sektion start style */

.måltidskasse-modal {
width: 80%;
margin: auto;
z-index: 1;
margin-top: 2rem;
border: 4px solid;
border-radius: 40px;
background-color: var(--broed);
overflow: hidden;
}
.måltidskasse-modal-overskrift{
 margin-top: 2rem;
display: flex;
justify-content: space-between;


}
.måltidskasse-modal-menu{
    color: var(--orange);
}
.modal-{
    margin-left: 50px;
    list-style-type: none;
    
    
}
.modal- img{
    width: 30px;
}
.grid-area-måltidskasse{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    background-image: url(/media/bølger3.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 1000px;
    background-position-y: 1px;
    
}



.gridarea-2 figure img{
  border-radius: 40px;
  width: 500px;
  margin-right: 10rem;
  
}

.dage-overskrift h2{
    font-size: 3rem;
    font-family: var(--title);
    color: var(--orange);
    margin-left: 4rem;
}
.dage-{
    font-size: 2rem;
    line-height: 80px;
    margin-left: 4rem;
    font-family: var(--subtitle);
    color: var(--darkblue);
    margin-bottom: 2rem;
}

.antal-button{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--title);
    color: var(--orange);
  margin-left: 4rem;
}
/* style af vores opskrifter siden */
.body-opskrifter{
        background-image: url(/media/bølger3.png);
        background-repeat: no-repeat;
        background-position-x: 110%;
        background-position-y:14%;
        background-size: 25%;
   
}
.opskrift-billede{
    width: 100vw;
   

}
.overlay-text-opskrift{
    position: absolute;
        top: 86%;
        left: 7%;
        /* transform: translate(-50%, -30vh); */
        margin-top: -30%;
        font-size: 24px;
        text-align: left;
        padding: 20px;
        cursor: pointer;
}

.opskrift-overskrift{
    text-align: center;
    font-family: var(--title);
    color: var(--darkblue);
    font-size: 110px;
    font-weight: 400;
}

.opskrift-section{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-row: auto;
    }
    
    .opskrift-block{
    width: 300px;
    display: flex;
    flex-direction: column;
    color: var(--darkblue);
    border: 5px solid;
    border-radius: 35px;
    overflow: hidden;
    transition: 0.5s;
    }
    .opskrift-block:hover {
        transform: scale(1.05);
    }
    
    .opskrift-navn{
    margin: 1rem;
    font-family: var(--subtitle);
    text-align: center;
    }
    .opskrift-tekst{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--broed);
    text-align: center;
    }
    
    .opskrift-btn{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 4px solid;
    border-radius: 15px;
    background-color: var(--darkblue);
    color: var(--offwhite);
    font-family: var(--broed);
    }

    .filter {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 15px;
        align-items: center;
        justify-content: center;
    
    }
    
    .filter-text {
        font-family: var(--subtitle);
        margin-right: 20px;
        color: var(--darkblue);
      
    }

    .filter-btns {
        font-family: var(--broed);
        
    }
    .filter-btns button {
        background-color: var(--darkblue);
        color: var(--offwhite);
        margin: 8px;
        padding: 7px;
        width: 150px;
        border-radius: 10px;
        border: solid var(--darkblue);
        transition: 0.25s;
    }
    .filter-btns button:hover {
        transform: scale(1.05);
    }
    
    /* slut style af Vores opskrifter siden */

    /* Opskrift pop up vindue */

    .opskrift-modul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-areas:
        "logo-modul header-modul header-modul details-modul"
        "step-1-modul step-2-modul step-3-modul ingridents-modul"
        "step-1-modul step-2-modul step-3-modul ingridents-modul"
        ". . download-modul nipponart-modul";
    }

    .logo-modul {
    grid-area: logo-modul; 

    }
    .logo-modul img {
    height: 100px;
    }

    .header-modul {
        grid-area: header-modul;
    }
    .header-modul h2 {
        font-family: var(--title);
        font-size: 50px;
        color: var(--orange);
    }

    .details-modul {
        grid-area: details-modul;
    }
    .details-modul img {
        height: 36px;
    }
    .details {
        list-style-type: none;
    }
    
    .details img{
        width: 36px;
    }
    .sideways-text {
        writing-mode: vertical-rl;
        text-align: center;
        display: inline-block;
        color: var(--orange);
        font-size: 25px;
        font-family: var(--title);
    }
    .step-1-modul {
        grid-area: step-1-modul; 
    }

    .step-2-modul { grid-area: step-2-modul; }

    .step-3-modul { grid-area: step-3-modul; }

    .steps {
        display: flex;column
    }
    .step-pictures {
        width: 80%;
    }

    .step-pictures img {
        width: 200px;
        border-radius: 40px;
    }

    .ingridents-modul { grid-area: ingridents-modul; }

    .download-modul { grid-area: download-modul; }

    .nipponart-modul {
        grid-area: nipponart-modul;
    }
    .nipponart-modul img {
        height: 100px;
        width: auto;
        transform: rotate(90deg);
    }
        
    






/* Styling af footer */




.footer-section{
    margin: 0;
    padding: 0;
    font-family: var(--subtitle);
    box-sizing: border-box;
}

footer{
    
    width: 100%;
    padding: 100px 15%;
    background: #FCFCFC;
    color: var(--darkblue);
    display: flex ;
   font-size: 20px;
   background-image: url(/media/bølger2.1.png);
   background-repeat: no-repeat;
   background-size: 25%;
   background-position: -100px;
   background-position-y: 170px;
   
}


footer div{
    text-align: center;
    
}

.col-2{
    flex-grow: 2;
}

footer div h3{
    font-weight: 500;
     margin-bottom: 30px;
     letter-spacing: 1px;
}

.col-1{
    display: block;
    color: #003A75;
    margin-bottom: 10px;
    
}

footer a{
    text-decoration: none;
    color: var(--darkblue);
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: 2px solid var(--darkblue);
    color: var(--darkblue);
    font-family: var(--broed);

}

form button{
    background: transparent;
    border: 2px solid var(--darkblue);
    color: var(--orange);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    font-family: var(--broed);
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}