@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: #F1A177;
    --darkblue: #003A75;
    --offwhite: #FCFCFC;
    --title: "Big Shoulders Inline Text";
    --subtitle: "Big Shoulders Display";
    --broed: "montserrat";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 6rem;
    font-family: var(--title);
}
  body{
    background-color: var(--offwhite);

}

/* Navigation */
header {
  background-color: rgba(255, 255, 255, 60%);
  
    box-shadow: 0px 10px 22px 0px rgba(255,255,255,0.60);
    width: 100%;
    position: fixed;
    
}
header nav {
    display: flex;
    justify-content: space-between;

}

.logo-img {
    height: 100px;
    margin: 1rem;
    margin-left: 40px;
}
.nav-icon {
    height: 40px;
    margin-right: 2rem;
   
}
.profileBasketIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#itemCount {
    border: solid 2px var(--orange);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    font-family: var(--broed);
    font-size: 1rem;
    font-weight: 900;
}
.itemCountHidden {
    display: none !important;
}
.nav-points{
    width: 70%;
    display:flex;
  
    justify-content: space-around;
    align-items: center;
}
.nav-points li{
    list-style-type: none;
    font-size: 1.6rem;
    font-family: var(--subtitle);
    
}
.nav-points li a{
    text-decoration: none;
    color: var(--darkblue);
}
.underline {
    text-decoration: underline !important;
    text-decoration-color: var(--orange) !important;
}
/* style af forside */
.forside-billede{
    width: 100vw;
   

}
.overlay-text{
    position: absolute;
        top: 90%;
        left: 35%;
        /* transform: translate(-50%, -30vh); */
        margin-left: -25%;
        margin-top: -30%;
        font-size: 24px;
        text-align: left;
        padding: 20px;
        cursor: pointer;
}

.forside-overskrift{
    text-align: center;
    font-family: var(--title);
    color: var(--darkblue);
    font-size: 180px;
    font-weight: 400;
}
.forside-underoverskrift{
    text-align: center;
    font-family: var(--subtitle);
    color: var(--darkblue);
    font-size: 30px;
    font-weight: 500;
    margin-top: -10px;
}

.bølger{
    width: 320px; 
    margin-left: 82%;
    transform: rotate(230deg);
    margin-top: -3%;
  
}
.om-os-container{
    overflow: hidden;
     width: 100%;
    
}
.om-os-tekst{
    text-align: center;
   color: var(--orange);
   font-family: var(--subtitle);
   font-weight: 500;
   margin-top: -70px;
   font-size: 60px; 
}

.tekst-forside{
    margin-top: 5%;
    color: var(--darkblue);
    font-family: var(--broed);
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    text-align: center;
}





/* style af vores måltidskasser siden */
.menu-section{
    max-width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    justify-items: center;
 
}

.body-måltidskasse{
    background-image: url(/media/bølger3.png);
    background-repeat: no-repeat;
    background-position-x: 110%;
    background-position-y:7.5%;
    background-size: 25%;
}

.menu-block{
    width: 400px;
    display: flex;
    flex-direction: column;
    color: var(--darkblue);
    border: 5px solid;
    border-radius: 35px;
    overflow: hidden;
    }

.menu-navn{
    margin: 1rem;
    font-family: "big shoulders display";
}
.menu-tekst{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--broed);
}


.clock{
    height: 1.3rem;
    margin-left: 1rem;
}

.menu-tid{
    margin-left: 0.5rem;
    width: 50%;
    font-family: var(--broed);
}
.tid-container{
    display: flex;
}
.måltidskasse-btn{
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    border: 4px solid;
    border-radius: 15px;
    background-color: var(--darkblue);
    color: var(--offwhite);
    font-family: var(--broed);
}

/* måltidskasse modal sektion start style */
.background-blur-sektion{
    width: 80vw;
    height: 90vh;
    background-color: rgba(220, 220, 220, 100%);
    display: none;
    position: fixed;
    top: 50px;
    left: 200px;
    border-radius: 50px;
}
.exit-button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background-color: var(--darkblue);
    color: var(--offwhite);
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    float: right;
}
.måltidskasse-modal {
    width: 80%;
    margin: auto;
    z-index: 1;
    margin-top: 2rem;
    border-radius: 40px;
    background-color: var(--broed);
    overflow: hidden;
    }
#showSection {
    display: block;
}

.måltidskasse-modal-overskrift{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.måltidskasse-modal-menu{
    color: var(--orange);
}
.modal-{
    margin-left: 50px;
    list-style-type: none;
    color: var(--darkblue);
    margin-right: 1rem
    
}
.clock-move{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.modal- li{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: var(--broed);
}
.modal- img{
    width: 30px;
}
.grid-area-måltidskasse{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    background-image: url(/media/bølger-left.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 960px;
    background-position-y: 400px;
    
    
}



.gridarea-2 figure img{
  border-radius: 40px;
  width: 500px;
  margin-right: 14rem;
  
}

.dage-overskrift h2{
    font-size: 3rem;
    font-family: var(--title);
    color: var(--orange);
    margin-left: 4rem;
}

.dage-{
    font-size: 2rem;
    line-height: 80px;
    margin-left: 4rem;
    font-family: var(--subtitle);
    color: var(--darkblue);
    margin-bottom: 2rem;
}

.antal-button{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--title);
    color: var(--orange);
  margin-left: 4rem;
  margin-bottom: 1rem;
  
}

.antal-button input{
    width: 30px;
    font-size: 1.5rem;
    color: var(--offwhite);
    border: 0;
    border-radius: 5px;
    text-align: center;
    background-color:var(--darkblue);
}
.antal-button input::placeholder {
    color: var(--offwhite);
}
.antal-button button{
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    border: 0;
    background-color: var(--offwhite);
    color: var(--darkblue);
    text-align: center;
}
.minus{
    font-size: 2rem !important;
}
.redigereBtn{
    padding: 6px;
    border-radius: 10px;
    border: 3px solid var(--darkblue);
    background-color: var(--offwhite);
    margin-left: 6rem;
    margin-top: 4rem;
    font-family: var(--broed);
    color: var(--darkblue);
}
.koebBtn{
    padding: 6px;
    border-radius: 10px;
    border: 3px solid var(--darkblue);
    background-color: var(--darkblue);
    color: var(--offwhite);
    margin-left: 1rem;
    font-family: var(--broed);
}
/* rune leger lige med lidt javascript med den her id. */
#koebBtn-koebt {
    border-radius: 10px;
    border: 3px solid var(--darkblue);
    background-color: var(--darkblue);
    color: var(--offwhite);
    margin-left: 1rem;
    font-family: var(--broed);
    }
/* style af vores opskrifter siden */
.body-opskrifter{
    background-image: url(/media/bølger3.png);
    background-repeat: no-repeat;
    background-position-x: 110%;
    background-position-y:14%;
    background-size: 25%;
}

.opskrift-billede{
    width: 100vw;
}
.overlay-text-opskrift{
    position: absolute;
    top: 86%;
    left: 7%;
    /* transform: translate(-50%, -30vh); */
    margin-top: -30%;
    font-size: 24px;
    text-align: left;
    padding: 20px;
    cursor: pointer;
}

.opskrift-overskrift{
    text-align: center;
    font-family: var(--title);
    color: var(--darkblue);
    font-size: 110px;
    font-weight: 400;
}

.opskrift-section{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-row: auto;
    }
    
    .opskrift-block{
    width: 300px;
    display: flex;
    flex-direction: column;
    color: var(--darkblue);
    border: 5px solid;
    border-radius: 35px;
    overflow: hidden;
    transition: 0.5s;
    }
    .opskrift-block:hover {
        transform: scale(1.05);
    }
    
    .opskrift-navn{
    margin: 1rem;
    font-family: var(--subtitle);
    text-align: center;
    }
    .opskrift-tekst{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--broed);
    text-align: center;
    }
    
    .opskrift-btn{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 4px solid;
    border-radius: 15px;
    background-color: var(--darkblue);
    color: var(--offwhite);
    font-family: var(--broed);
    }

    .filter {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
    }
    
    .filter-text {
    font-family: var(--subtitle);
    margin-right: 20px;
    color: var(--darkblue);
    
    }

    .filter-btns {
    font-family: var(--broed);
        
    }
    .filter-btns button {
    background-color: var(--darkblue);
    color: var(--offwhite);
    margin: 8px;
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    border: solid var(--darkblue);
    transition: 0.25s;
    }
    .filter-btns button:hover {
        transform: scale(1.05);
    }
    
    /* slut style af Vores opskrifter siden */

    /* Opskrift pop up vindue */
    .opskrift-modul{
    width: 80vw;
    margin: auto;
    border-radius: 40px;
    overflow: hidden;
    background-image: url(/media/bølger-left.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 70vw;
    background-position-y: 550px;
    }


    .opskrift-modul h1 {
    font-size: 4rem;
    }

      .steps-container { 
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        grid-template-areas:
          "steps-text-1 steps-pictures-1 steps-text-2 steps-pictures-2 steps-text-3 steps-pictures-3 steps-space ingridents-modul";
        margin-top: 2rem;
      }
      
      .steps-text-1 { grid-area: steps-text-1; }
      
      .steps-pictures-1 { grid-area: steps-pictures-1; }
      
      .steps-text-2 { grid-area: steps-text-2; }
      
      .steps-pictures-2 { grid-area: steps-pictures-2; }
      
      .steps-text-3 { grid-area: steps-text-3; }
      
      .steps-pictures-3 { grid-area: steps-pictures-3; }
      
      .steps-space { grid-area: steps-space; }
      
      .ingridents-modul { 
        grid-area: 1/7/2/8; 
        margin-left: 2rem;
        margin-top: -4rem;
        
    }
      
      
      .steps-pictures-size img {
        height: 200px;
        width: auto;
        border-radius: 30px;
      }

      .step-text-size {
        width: 200px;
        margin-top: 10px;
        color: var(--darkblue);
      }

      .step-text-size {
        font-size: 18px;
        font-family: var(--broed);
      }

     
     
      
      .steps-btn{
        float: right;
        margin-right: 150px;
        width: 15%;
        padding: 8px;
        border: 4px solid;
        border-radius: 15px;
        background-color: var(--darkblue);
        color: var(--offwhite);
        font-family: var(--broed);
        margin-bottom: 2rem;
        
        }
        .måltidskasse-modal-menu {
            text-align: center;
        }
      


    .logo-modul img {
    height: 100px;
    }

    .header-modul h2 {
        font-family: var(--title);
        font-size: 50px;
        color: var(--orange);
    }

    .details {
        list-style-type: none;
    }
    
    .details img{
        width: 20px;
    }
    .sideways-text {
        text-align: center;
        display: inline-block;
        color: var(--orange);
        font-size: 36px;
        letter-spacing: 1.5rem;
        line-height: 52px;
        font-family: var(--title);
    }

    .steps {
        display: flex;
    }
    .step-pictures {
        width: 80%;
    }

    .step-pictures img {
        width: 200px;
        border-radius: 40px;
    }

  
        
    .ingridents-modul{   
        font-family: var(--broed);
        line-height: 40px;
        color: var(--darkblue);
      
     
    }




    /* Kontakt */

   .forside-underoverskrift2{
    font-size: 30px;
    font-family: var(--subtitle);
    color: var(--orange);
    font-weight: 500;
   }

   .kontakt-h1{
    font-family: var(--subtitle);
    font-weight: 500;
    color: var(--orange);
    margin-top: 2rem;
   
   }

.kontakt-h2{
    font-family: var(--broed);
    color: var(--darkblue);
    font-size: 20px;
    font-weight: 500;
}

.kontakt-section{
    background-image: url(/media/bølger3.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 85vw;
    background-position-y: -20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.kontakt-form{
width: 400px;
border-radius: 15px;
border: 4px solid var(--darkblue);
margin-left: 2rem;
grid-area: 1/1/2/2;
margin-top: 2rem;
}
.faq-del{
    grid-area: 1/2/2/3;
  
}

.faq-billeder img{
    width: 100px;
margin: 2rem;

}
.faq-billeder{
    display: flex;

}
.input-tekst{
    font-family: var(--broed);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--darkblue);
    margin: 2rem;
    background-color: var(--offwhite);
    font-size: 20px;
    padding: 1px;
    width: 300px;

}
.input-besked{
    width: 300px;
    height: 150px;
    font-family: var(--broed);
    border: 1px solid var(--darkblue);
    border-radius: 10px;
    margin: 2rem;
    background-color: var(--offwhite);
    font-size: 20px;
    padding: 1px;
}

.kontakt-form input::placeholder{
color: var(--darkblue);
}
.input-besked::placeholder{
    color: var(--darkblue);
 
}


.kontakt-section{
    color: var(--darkblue);
}



.send-btn{
cursor: pointer;
color: var(--orange);
font-family: var(--broed);
width: 25%;
padding: 4px;
border: 2px solid;
border-radius: 10px;
background-color: var(--offwhite);
color: var(--offwhite);
font-family: var(--broed);
margin-left: 140px;
background-color: var(--darkblue);

}

.tilmeld-nyhed{
    font-family: var(--broed);
    font-weight: 500;
    text-align: center;
}


.tilmeld-checkbox{
    margin: 5px !important;

}


.send-btn:hover{
    transform: scale(1.05);
    }



/* Styling af footer */




.footer-section{
    margin: 0;
    padding: 0;
    font-family: var(--subtitle);
    box-sizing: border-box;
}

footer{
    
    width: 100%;
    padding: 100px 15%;
    background: #FCFCFC;
    color: var(--darkblue);
    display: flex ;
   font-size: 20px;
   background-image: url(/media/bølger2.1.png);
   background-repeat: no-repeat;
   background-size: 25%;
   background-position: -100px;
   background-position-y: 170px;
   
}


footer div{
    text-align: center;
    
}

.col-2{
    flex-grow: 2;
}

footer div h3{
    font-weight: 500;
     margin-bottom: 30px;
     letter-spacing: 1px;
}

.col-1{
    display: block;
    color: #003A75;
    margin-bottom: 10px;
    
}

footer a{
    text-decoration: none;
    color: var(--darkblue);
}

.footer-contact input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: 2px solid var(--darkblue);
    color: var(--darkblue);
    font-family: var(--broed);

}

.footer-contact button{
    background: transparent;
    border: 2px solid var(--darkblue);
    color: var(--orange);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    font-family: var(--broed);
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

